@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&family=Cookie&family=Duru+Sans&display=swap');

.card {
	max-height: 100%;
	border: 1px solid black;
	font-size: 2.4rem;
	margin: 1.5rem;
	border-radius: 5px;
}

.quote-container {
	margin: 2rem;
	display: flex;
	flex-direction: column;
}

.quote {
	display: inline-block;
	font-family: 'Cookie', cursive;
	font-size: 3.2rem;
	line-height: 3.2rem;
	text-align: center;
}

.icon {
	font-size: 2rem;
	margin: 0 1rem 0.5rem 1rem;
}

.author {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2rem;
	text-align: right;
	margin-top: 2rem;
}

.footer {
	padding: 1.5rem 2rem;
	text-align: right;
	background-color: rgb(241, 241, 241);
}

.btn {
	cursor: pointer;
	padding: 1rem;
}
